body{
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}
nav{
    margin: 1px;
    padding:2em;
    /* background-color: #FFA500;  */
    

    

}
.logo{
    /* font-family: "Pacifico",cursive; */
    font-family: 'Bodoni Moda', serif;
    display: inline-block;
    color: #37b3ff;
    width: 45%;
    padding-left: 1rem;
    letter-spacing:2px;
}
nav Ul{
    display: inline-block;
    /* padding-right: 5em ; */
   
}
nav ul li {
    display: inline-block;
    padding: 1em;
   
}
nav ul li a { 
    color: #37b3ff;
    display: inline-block;
    text-decoration: none;
} 
nav ul li a:hover{
    text-decoration:underline;
}
.section1{
    display: flex;
}
.creative{
    width: 80%;
    /* padding: 2rem; */
}
.item{
    width:100%;
    padding: 0px 3em;
}
.item1 h1{
    font-size: 4em; 
    color: #37b3ff;
    padding: 0px 1em ;
    text-transform: capitalize;
    font-weight:bolder;
    font-stretch:expanded;
    line-height: 1.5;
    

}
.item1 p{

    padding: 0px 3em ;

}
item2{
    padding-right: 1em;
}


footer{
    background-color: #37b3ff;
    margin: 1px;
    padding: 1em;
    text-align: center;
    text-transform: capitalize;

}

